<a href="https://colab.research.google.com/github/mahoryu/colab_intro/blob/master/colab_intro_lecture_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Five ways to read your data into a colab notebook

[Keyboard shortcuts for colab](https://medium.com/@tuewithmorris/google-colab-notebooks-keyboard-shortcuts-aa6a008fb91b)

In [0]:
# import statements
import pandas as pd
import numpy as np

#### Method 1. Read data directly from a URL.

In [3]:
# Example from Tuesday's class.
# Sometimes you have to supply the column heads.
column_headers = ['name', 'landmass', 'zone', 'area', 'population', 'language', 
                  'religion', 'bars', 'stripes', 'colours', 'red', 'green', 
                  'blue', 'gold', 'white', 'black', 'orange', 'mainhue', 
                  'circles', 'crosses', 'saltires', 'quarters', 'sunstars', 
                  'crescent', 'triangle', 'icon', 'animate', 'text', 'topleft', 
                  'botright']
flag_data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/flags/flag.data'
flags = pd.read_csv(flag_data_url, header=None, names=column_headers)
print(flags.shape)
flags.head()

(194, 30)

             name  landmass  zone  area  ...  animate  text  topleft  botright
0     Afghanistan         5     1   648  ...        0     0    black     green
1         Albania         3     1    29  ...        1     0      red       red
2         Algeria         4     1  2388  ...        0     0    green     white
3  American-Samoa         6     3     0  ...        1     0     blue       red
4         Andorra         3     1     0  ...        0     0     blue       red

[5 rows x 30 columns]

In [4]:
# Here is another example that doesn't require the column heads.
# source: # https://opendata.dc.gov/datasets/bike-trails/data
url = 'https://opendata.arcgis.com/datasets/e8c2b7ef54fb43d9a2ed1b0b75d0a14d_4.csv'
bike_trails = pd.read_csv(url)
bike_trails.sample(5)

    OBJECTID     LENGTH                       NAME  ... Shape_Length MILES  ROUTEID
45        46   3570.964                             ...  1088.432221   0.0      NaN
54        55  14079.446  Metropolitan Branch Trail  ...  4291.423849   0.0      NaN
36        37      0.697   14th St. Bridge Crossing  ...     0.212543   0.0      NaN
78        79      0.000     ART East - Rail Bridge  ...   380.209518   0.0     EAST
75        76      0.000                             ...  1155.724532   0.0     EAST

[5 rows x 8 columns]

In [5]:
# Yet another example.
url='https://opendata.arcgis.com/datasets/2e65fc16edc3481989d2cc17e6f8c533_54.csv'
# source: https://opendata.dc.gov/datasets/museums-in-dc/data
museums = pd.read_csv(url)
museums.tail(3)

            X          Y  OBJECTID  ... MAR_LONGITUDE MAR_LATITUDE   MARID
81 -77.025799  38.896590        82  ...    -77.025797    38.896583  239829
82 -77.026201  38.896776        83  ...    -77.026199    38.896768  239374
83 -76.994932  38.905783        84  ...    -76.994930    38.905776  288964

[3 rows x 12 columns]

### Method 2. Read a file that is already in colab.

In [36]:
# So colab comes with some built in files.
source_file1 = 'sample_data/california_housing_train.csv'
cali = pd.read_csv('source_file1')
cali.head()

FileNotFoundError: ignored

In [8]:
# you can also read a json file. Notice the difference in pandas method.
source_file2 ='sample_data/anscombe.json'
anscombe_df=pd.read_json(source_file2)
anscombe_df.head()

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [12]:
# Learn how to navigate your server 
from pathlib import Path
import os

# What is my current directory?
! pwd
!ls

# do that in python
home = Path.cwd()
print(home)

/content
sample_data
/content

In [15]:
# What's the parent dir?
home.parent
#what is the child directory
data_dir= Path.joinpath(home, 'sample_data')
data_dir

PosixPath('/content/sample_data')

In [17]:
# List the contents of that folder
myfiles = os.listdir(data_dir)
myfiles[2]

'california_housing_test.csv'

In [0]:
# Use that to make a list of files.
myfiles = os.listdir(data_dir)

In [19]:
# Now you can read that into colab using pandas
file_path = Path.joinpath(data_dir,myfiles[2])
print(file_path)
cali2 = pd.read_csv(file_path)
cali2.sample(3)

/content/sample_data/california_housing_test.csv

      longitude  latitude  ...  median_income  median_house_value
488     -117.30     34.15  ...         2.0600             85500.0
2724    -117.96     33.83  ...         3.3831            197400.0
1074    -120.45     34.95  ...         2.2538            162500.0

[3 rows x 9 columns]

### Method 3. Upload a file to colab.
Reminder, uploaded files will get deleted when this runtime is recycled.

In [0]:
# You can also use the manual upload GUI over on the left of your screen.

In [21]:
# You can also do this in a cell.
from google.colab import files
uploaded = files.upload()

Saving winequality-red.csv to winequality-red.csv

In [23]:
# Now read in the dataset.
snails = pd.read_csv(Path.cwd(), "winequity-red.csv")

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

IsADirectoryError: ignored

###  Method 4. Read a file that's saved on github
https://github.com/austinlasseter/dash-virginia-counties

In [24]:
# useful for reading raw data from github. (Go to method)
url='https://raw.githubusercontent.com/mahoryu/colab_intro/master/data/titanic.csv'
titanic_df = pd.read_csv(url)
titanic_df.head()

   Unnamed: 0  Survived  Pclass     Sex   Age     Fare     Embarked
0           0         0       3    male  22.0   7.2500  Southampton
1           1         1       1  female  38.0  71.2833    Cherbourg
2           2         1       3  female  26.0   7.9250  Southampton
3           3         1       1  female  35.0  53.1000  Southampton
4           4         0       3    male  35.0   8.0500  Southampton

In [25]:
url ='https://raw.githubusercontent.com/mahoryu/colab_intro/master/data/chipotle.tsv'
burritos=pd.read_csv(url, sep='\t')
titanic_df.head()

   Unnamed: 0  Survived  Pclass     Sex   Age     Fare     Embarked
0           0         0       3    male  22.0   7.2500  Southampton
1           1         1       1  female  38.0  71.2833    Cherbourg
2           2         1       3  female  26.0   7.9250  Southampton
3           3         1       1  female  35.0  53.1000  Southampton
4           4         0       3    male  35.0   8.0500  Southampton

### Method 5. Read a zip file.

In [26]:
# use the 'bang' for bash shell scripting.
! pwd

/content

In [27]:
# the 'wget' command reads content from the web.
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-01 02:44:08--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [                 <=>]  21.62M   829KB/s    in 27s

2019-11-01 02:44:35 (828 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22667400]

In [28]:
# how do you unzip a .zip file in bash?
! unzip LoanStats_2018Q4.csv.zip
! ls

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv
LoanStats_2018Q4.csv	  poker-hand.names  winequality-red.csv
LoanStats_2018Q4.csv.zip  sample_data

In [29]:
# Now you can read that csv file into pandas.
loans = pd.read_csv("LoanStats_2018Q4.csv")
loans.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,1,2,3,4,7,13,18,19,24,25,27,28,29,30,31,32,34,36,37,38,39,40,41,42,43,44,46,49,50,51,53,54,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,113,114,115,116,117,118,119,120,121,123,124,125,126,127,128,129,130,131,132,133,134,135,136,141,142,143) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
id  member_id loan_amnt funded_amnt funded_amnt_inv term       int_rate installment grade sub_grade emp_title                  emp_length home_ownership annual_inc verification_status issue_d  loan_status pymnt_plan url desc purpose            title                   zip_code addr_state dti   delinq_2yrs earliest_cr_line inq_last_6mths mths_since_last_delinq mths_since_last_record open_acc pub_rec revol_bal revol_util total_acc initial_list_status out_prncp out_prncp_inv total_pymnt      total_pymnt_inv total_rec_prncp total_rec_int total_rec_late_fee recoveries collection_recovery_fee last_pymnt_d last_pymnt_amnt next_pymnt_d last_credit_pull_d collections_12_mths_ex_med mths_since_last_major_derog policy_code application_type annual_inc_joint dti_joint verification_status_joint acc_now_delinq tot_coll_amt tot_cur_bal open_acc_6m open_act_il open_il_12m open_il_24m mths_since_rcnt_il total_bal_il il_util open_rv_12m open_rv_24m max_bal_bc all_util total_rev_hi_lim inq_fi total_cu_tl inq_last_12m acc_open_past_24mths avg_cur_bal bc_open_to_buy bc_util chargeoff_within_12_mths delinq_amnt mo_sin_old_il_acct mo_sin_old_rev_tl_op mo_sin_rcnt_rev_tl_op mo_sin_rcnt_tl mort_acc mths_since_recent_bc mths_since_recent_bc_dlq mths_since_recent_inq mths_since_recent_revol_delinq num_accts_ever_120_pd num_actv_bc_tl num_actv_rev_tl num_bc_sats num_bc_tl num_il_tl num_op_rev_tl num_rev_accts num_rev_tl_bal_gt_0 num_sats num_tl_120dpd_2m num_tl_30dpd num_tl_90g_dpd_24m num_tl_op_past_12m pct_tl_nvr_dlq percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit total_il_high_credit_limit revol_bal_joint sec_app_earliest_cr_line sec_app_inq_last_6mths sec_app_mort_acc sec_app_open_acc sec_app_revol_util sec_app_open_act_il sec_app_num_rev_accts sec_app_chargeoff_within_12_mths sec_app_collections_12_mths_ex_med sec_app_mths_since_last_major_derog hardship_flag hardship_type hardship_reason hardship_status deferral_term hardship_amount hardship_start_date hardship_end_date payment_plan_start_date hardship_length hardship_dpd hardship_loan_status orig_projected_additional_accrued_interest hardship_payoff_balance_amount hardship_last_payment_amount debt_settlement_flag debt_settlement_flag_date settlement_status settlement_date settlement_amount settlement_percentage                                    settlement_term
NaN NaN       20000     20000       20000            36 months  14.47%  688.13      C     C2        bus driver                 4 years    OWN            52000      Source Verified     Dec-2018 Current     n          NaN NaN  debt_consolidation Debt consolidation      681xx    NE         30.65 1           Jun-1979         2              15                     NaN                    6        0       15048     73%        22        w                   15777.74  15777.74      6104.74          6104.74         4222.26         1882.48       0.0                0.0        0.0                     Sep-2019     688.13          Oct-2019     Sep-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            33157       0           2           1           1           8                  18109        44      1           2           8628       73       20700            1      1           4            3                    5526        5175           73      0                        0           141                474                  10                    8              0        10                   15                       1                     15                             0                     4              4               11          12        8         4             14            4                   6        NaN              0            0                  2                  95             50               0                    0         61699           33157             20700          40999                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              25000     25000       25000            60 months  16.14%  609.82      C     C4        Production Manager         5 years    MORTGAGE       45000      Not Verified        Dec-2018 Fully Paid  n          NaN NaN  debt_consolidation Debt consolidation      703xx    LA         37.09 0           Sep-2003         0              NaN                    NaN                    7        0       8901      36.8%      21        w                   0.00      0.00          26653.1675796436 26653.17        25000.00        1653.17       0.0                0.0        0.0                     Apr-2019     24857.33        NaN          May-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              1303         49524       0           2           1           2           7                  40623        82      0           0           7830       67       24200            2      0           1            2                    7075        10465          43.7    0                        0           161                162                  45                    7              4        96                   NaN                      7                     NaN                            0                     2              3               3           5         7         5             10            3                   7        0                0            0                  1                  100            33.3             0                    0         73683           49524             18600          49483                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              26500     26500       26500            60 months  11.31%  580.28      B     B3        Compliance Director        10+ years  MORTGAGE       134000     Source Verified     Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 747xx    OK         18.91 0           Dec-2006         2              NaN                    NaN                    17       0       43640     65.4%      37        w                   23410.70  23410.70      5197.54          5197.54         3089.30         2108.24       0.0                0.0        0.0                     Sep-2019     580.28          Oct-2019     Sep-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            381100      3           3           2           2           4                  64335        46      1           3           10115      58       66700            2      1           7            6                    22418       14577          70.4    0                        0           114                144                  3                     3              4        22                   NaN                      2                     NaN                            0                     8              10              9           10        7         13            26            10                  17       0                0            0                  4                  100            66.7             0                    0         430403          107975            49300          88875                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN
              10400     10400       10400            36 months  12.98%  350.32      B     B5        Program Support Assistant  10+ years  MORTGAGE       56099      Source Verified     Dec-2018 Current     n          NaN NaN  credit_card        Credit card refinancing 800xx    CO         20.92 0           Jul-2013         2              32                     67                     8        1       1669      9.8%       10        w                   8164.57   8164.57       3141.63          3141.63         2235.43         906.20        0.0                0.0        0.0                     Sep-2019     350.32          Oct-2019     Sep-2019           0                          NaN                         1           Individual       NaN              NaN       NaN                       0              0            39564       4           2           1           2           1                  37895        92      3           6           725        36       17000            1      0           4            8                    4946        15331          9.8     0                        0           65                 57                   1                     1              0        1                    NaN                      0                     32                             0                     3              3               6           6         3         6             7             3                   8        0                0            0                  4                  90             0                1                    0         60709           39564             17000          43709                      NaN             NaN                      NaN                    NaN              NaN              NaN                NaN                 NaN                   NaN                              NaN                                NaN                                 N             NaN           NaN             NaN             NaN           NaN             NaN                 NaN               NaN                     NaN             NaN          NaN                  NaN                                        NaN                            NaN                          N                    NaN                       NaN               NaN             NaN               NaN                                                                  NaN

In [0]:
## Footnote: You can also save files to csv (or other formats like pickle)
cali2.to_pickle("new_cali_file.pkl")

In [35]:
df = pd.read_pickle('new_cali_file.pkl')
df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [0]:
# You can also save to csv, but remember to skip the index.